<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content;;="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../images/logo.png">
    <title>La Vallée de la Veude</title>
</head>
<body>
    <header>
        <!-- Menu -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Menu
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Home</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <a href="/home">Home</a>
                      <a href="/conditions">Conditions</a>
                      <a href="/contact">Contact</a>
                      <a href="/blog">Blog</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn2" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Logo -->
        <img class="logo" src="../images/logo.png" alt="Logo">

        <!-- Siret -->
        <p class="siret">SIRET 51525284900028</p>

        <p>
            Professionnelle et passionnée depuis plus de 20 ans, je prends soin de vos chiens lors de vos absences pour de courts,
            moyens ou longs séjours tout au long de l’année.<br>
            <img class="feuille3" src="../images/feuille3.png" alt="feuille">
        </p>

        <!-- Photo 1 -->
        <img class="chrystele" src="../images/1.jpeg" alt="Chrystèle">
        <img class="feuille" src="../images/feuille.png" alt="feuille">

        <p>
            La pension canine de la Vallée de la Veude se situe entre Tours et Poitiers, à 30 mn de Châtellerault, 20 mn de Loudun et 10 mn
            de Richelieu, en pleine nature entre vignes et forêt.
        </p>

        <img class="feuille2" src="../images/feuille.png" alt="feuille">
        <img class="feuille" src="../images/feuille2.png" alt="feuille">

        <p>
            Vos compagnons à 4 pattes seront accueillis sur un site de 2 hectares disposant de 19 parcs de 30 à 200 m2 avec chalets (dont 4 isolés)
            et de 3 parcs de détentes de 4000 m2.
        </p>

        <!-- Photos 2 et 3 -->
        <img class="feuille" src="../images/feuille.png" alt="feuille">
        <img class="pension1" src="../images/2.jpeg" alt="Pension 1">
        <img class="pension2" src="../images/3.jpeg" alt="Pension 2">
        <img class="feuille" src="../images/feuille.png" alt="feuille">

        <p>
            Nos chalets et parcs sont confortables, sécurisés, entretenus quotidiennement. Nous avons la possibilité d’accueillir votre chien seul ou à 2
            selon votre demande et les affinités pour un séjour plus agréable.
        </p>

        <!-- Photos 4 et 5 -->
        <img class="pension3" src="../images/4.jpeg" alt="Pension 3">
        <img class="feuille1" src="../images/feuille2.png" alt="feuille">
        <img class="pension4" src="../images/5.jpeg" alt="Pension 4">

        <!-- Nouveauté 2024 -->
        <p id="new">
            Nouveauté 2024 : 2 logements cocooning entièrement carrelés et isolés avec chauffage. Me contacter pour connaitre les conditions
            d'accueil ainsi que le tarif.<br>
            <img class="feuille5" src="../images/feuille2.png" alt="feuille">
        </p>

        <!-- Photo 6 et 7 -->
        <img class="pension7" src="../images/6.jpeg" alt="pension 7">
        <img class="pension8" src="../images/7.jpeg" alt="pension 8">
        <img class="feuille6" src="../images/feuille4.png" alt="feuille">

        <p>
            Vos chiens auront accès 1 à 2 fois par jour aux parcs d’ébats, toujours sous surveillance, avec ou sans congénères selon les affinités.
        </p>

        <!-- Programme -->
        <p>
            Au programme : jeux, détente et caresses !
        </p>

        <!-- Photos 8 et 9 -->
        <img class="feuille4" src="../images/feuille4.png" alt="feuille">
        <img class="pension5" src="../images/8.jpeg" alt="Pension 5">
        <img class="feuille4" src="../images/feuille4.png" alt="feuille">
        <img class="pension6" src="../images/9.jpeg" alt="Pension 6">
        <img class="feuille4" src="../images/feuille4.png" alt="feuille">

        <!-- Priorité -->
        <p>
            Ma priorité : le bien être de vos compagnons en rendant leur séjour le plus agréable possible !
        </p>

        <!-- Témoignages -->
        <h2>Témoignages</h2>

        <p class="temoignages">
            Matthéa B. : « Si nous étions réticents avant à l'idée de laisser nos deux chiens en pension, nous savons désormais à qui les
            confier en toute sérénité et confiance. Olaf, Louna et leurs maîtres vous remercient ! »
        </p>
        <p class="temoignages">
            Manon SG. : « Une pension géniale ou le chien est traité comme un roi, un bel espace de sommeil avec un accès à un jardin
            privatif !! Des balades avec les copains chiens et des câlins ! La nourriture tel que le barf est également acceptée. Foncez
            les yeux fermés ! »
        </p>
        <p class="temoignages">
            Delphine N. : « Nous recommandons cette pension canine. La propriétaire est très sympathique et notre chienne est heureuse d’y
            aller. De plus les enclos sont spacieux et les chiens sont sortis régulièrement. »
        </p>
        <p class="temoignages">
            Clément N. : « De très bonnes conditions d'accueil, c'est le seul endroit où je peux laisser mon chien en toute confiance. »
        </p>
        <p class="temoignages">
            Famille M. : « Pension formidable ! C'est tjrs avec bcp d'appréhension que je confie mon chien loup tchèque ayant eu de très
            mauvaises expériences avec de soi-disant professionnels. Lors de nos échanges Chrystèle à très vite su nous rassurer et c'est
            en toute confiance que je laisse Heyden qui est ultra heureux d'aller à la pension pour voir des copains. Plusieurs fois
            Chrystèle m'a rendu d'énormes services en prenant Heyden au pied levé. La nourriture est de qualité et si votre doudou est
            nourri au BARF vous êtes au bon endroit ! C'est avec beaucoup de regret que nous laissons la pension de Serigny du fait d'un
            déménagement mais qui sait :) Merci pour tout Chrystèle :) »
        </p>
        <img class="feuille8" src="../images/feuille.png" alt="feuille">
        <img class="feuille" src="../images/feuille2.png" alt="feuille">
        <img class="feuille" src="../images/feuille4.png" alt="feuille">
        <img class="feuille" src="../images/feuille3.png" alt="feuille">

    </main>
    <footer>
        <p class="mention">
            <a class="mention" href="/mentions">Mentions légales</a>
        </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>